<div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
  <a ng-href="#dExample1">
    <div class="hris-dashboard-primary">
      <span class="hris-dashboard-primary-icon">
        <span class="fa fa-file"></span>
      </span>
      <span class="hris-dashboard-primary-body">Directive Example 1</span>
      <br />
      <p class="hris-dashboard-primary-note">
        Advance directive example
      </p>
    </div>
  </a>
</div>
<div class="col-md-12" style="padding-top: 20px; padding-bottom: 20px;">
  <a ng-href="#dExample2">
    <div class="hris-dashboard-primary">
      <span class="hris-dashboard-primary-icon">
        <span class="fa fa-bug"></span>
      </span>
      <span class="hris-dashboard-primary-body">Directive Example 2</span>
      <br />
      <p class="hris-dashboard-primary-note">
        Transclusion example
      </p>
    </div>
  </a>
</div>